# Secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Django
# db.sqlite3 (Un-ignored for Vercel deployment)
media/
# staticfiles/ (Un-ignored for Vercel deployment)
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
